.button {
    border-radius: 10px;
    width: 160px;
    border: none;
    text-align: center;
    padding: 15px 0;
    margin-left: 1.3em;
    text-decoration: none;
    background-color: #240053;
    color: white;
}
