@import '../../style/media.module.scss';

h1 {
    margin: 4em auto 1em 0.8em;
    color: white;
    font-weight: 400;
}
form {
    display: grid;
    grid-template-columns: 1fr;

    @include for-tablet-up {
        grid-template-columns: 1fr 1fr;
    }
}

input[type='file'] {
    // display: grid;
    color: white;
}

input[type='submit'] {
    border-radius: 10px;
    padding: 13px 80px;
    text-decoration: none;
    background-color: #240053;
    color: white;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

.btnWrapper {
    display: flex;
    margin-top: 3em;
    width: 100%;
    justify-content: center;
}
